body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}
div{
    filter: blur(0px);
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #000;
    border-radius: 50px;
    width: 300px;
    height: 350px;
    margin: auto;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 130%;
    text-shadow: 8px 8px 8px #000;
    animation: show 0.7s ease-in-out forwards;
}
h2{
    animation: show 0.9s ease-in-out forwards;
}
p{
    animation: show 0.9s ease-in-out forwards;
}
.gift{
    height: 50%;
    width: 50%;
    position: relative;
    animation: show 0.9s ease-in-out forwards;
}
section{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 10px;
}
.audio{
    width: 100%;
    height: 100%;
}
@keyframes show {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
.snowflake{
    top: 0px;
    left:0px;
    z-index: 1;
    width: 10px;
    height: 10px;
    position: absolute;
    animation: snowfall 10s linear infinite;
}
@keyframes snowfall {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}
.snowflake:nth-child(1) { animation-duration: 4s; animation-delay: 0s; }
.snowflake:nth-child(2) { left: 10vw; animation-duration: 6s; animation-delay: 0s; }
.snowflake:nth-child(3) { left: 30vw;animation-duration: 5s; animation-delay: 0s; }
.snowflake:nth-child(4) { left: 50vw; animation-duration: 4s; animation-delay: 0s; }
.snowflake:nth-child(5) { left: 60vw; animation-duration: 6s; animation-delay: 0s; }
.snowflake:nth-child(6) { left: 70vw;animation-duration: 5s; animation-delay: 0s; }
.snowflake:nth-child(7) { left: 80vw; animation-duration: 4s; animation-delay: 0s; }
.snowflake:nth-child(8) { left: 90vw; animation-duration: 6s; animation-delay: 0s; }
.snowflake:nth-child(9) { left: 100vw;animation-duration: 5s; animation-delay: 0s; }
.snowflake:nth-child(10) { animation-duration: 2s; animation-delay: 0s; }
.snowflake:nth-child(11) { left: 10vw; animation-duration: 3s; animation-delay:0s; }
.snowflake:nth-child(12) { left: 30vw;animation-duration: 2s; animation-delay: 0s; }
.snowflake:nth-child(13) { left: 50vw; animation-duration: 3s; animation-delay: 0s; }
.snowflake:nth-child(14) { left: 60vw; animation-duration: 2s; animation-delay: 0s; }
.snowflake:nth-child(15) { left: 70vw;animation-duration: 3s; animation-delay: 0s; }
.snowflake:nth-child(16) { left: 80vw; animation-duration: 2s; animation-delay: 0s; }
.snowflake:nth-child(17) { left: 90vw; animation-duration: 3s; animation-delay: 0s; }

.snowflake:nth-child(18) { left: 100vw;animation-duration: 2s; animation-delay: 0s; }
